body,html{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
		overflow-x: hidden; 
		-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}	

@media screen and (prefers-reduced-motion: no-preference) {
	html {
	  scroll-behavior: smooth;
	}
}

.lang {
	position: fixed;
	width: 99%;
    z-index: 20;
	margin: 5px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	a {
		color: #5D6375;
	}
}

img {
	transition: all 1s ease-in-out;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

header {
	width: 100vw;
	height: 200px;
}

.logo {
	img {
      width: 200px;
	//   height: 200px;
	}
}

.logo:hover{
	transform: scale(1.1, 1.1);
	transition: all 1s ease-in-out;
}

.first-screen {
	width: 100%;
	z-index: 10;
	position: relative;
	background-color: white;
}

.carousel-container {
	margin: auto;
	height: auto;
	width: 100vw;
    /* background-image: url(../../pictures/service/shutterstock_629910674new.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  	background-size: cover;*/
}



.free-space {
	width: 100%;
	height: 100px;
}

.navbar {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg-light {
	background-color: white !important;
}

@font-face {
	font-family: 'Raleway';
	src: url(../../fonts/Raleway-Light.ttf);
}

.navbar {
	a {
	float: left;
	display: block;
	font-family: 'Raleway', sans-serif;
	color: rgb(70, 68, 68);
	padding: auto;
	text-align: center;
	padding: 14px 16px;
	font-size: 25px;
	font-weight: 300;
	}
	a:hover {
		color: rgb(54, 52, 52);
	}
}

@media (max-width:1170px){
	.fourthconvid{
		flex-direction: column;
	}
}

@media (max-width:850px){
	.secondcontent{
		flex-direction: column;
	}
	#secondcon{
		margin: 5%;
		height: auto;
	}
}

.second-screen {
	padding: 10px;
	width: 100vw;
    height: auto;
}

.second-screen-inform {
	width: 100%;
	height: auto;
	margin-right: 10px;
	display: flex;            
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.photographer-portrait img{
	width: 20vw;
}


@media screen and (max-width: 800px) {
	.inform-text { font-size: 1.4em;}
	.head-join {font-size: 2.2em;}
}
.sec-scr-text {
	width: 40vw;
	height: auto;
	display: flex;            
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.sec-scr-pic {
	max-width: 700px;
	width: 50vw;
	height: auto;
	display: flex;            
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.sec-scr-pic img:hover {
	background-color: white;
	opacity: 0.7;
	transition: top 0.5s ease-out 0.5s;
}

.sm-pic img{
	height: 200px;
	margin: 10px;
}


// @media screen and (max-width: 1600px) and (min-width: 1450px) {
// 	.sm-pic img {
// 		// height: 15vw;
// 	}
// }

// @media screen and (max-width: 1450px) and (min-width: 1250px) {
// 	.sm-pic img {
// 		// height: 14vw;
// 	}
// }

@media screen and (max-width: 1280px) {
	.second-screen-inform {flex-direction: column;}
	.sec-scr-text {
		width: 100%;
		margin: 20px;
	}
	.sec-scr-pic {
		width: 70vw;
	}
	.sm-pic img {
		height: 17vw;
	}
}

@media screen and (max-width: 700px) {
	.sm-pic img {
		height: 20vw;
	}
}
@media screen and (max-width: 500px) {
	.sec-scr-pic {
		width: 90vw;
	}
	.sm-pic img {
		height: 27vw;
	}
}
@media screen and (max-width: 450px) {
	.sm-pic img {
		height: 26vw;
	}
	.hello-buttons .book-button {
		width: 170px;
	}
}
@media screen and (max-width: 400px) {
	.sm-pic img {
		height: 25vw;
	}
}

@font-face {
	font-family: 'Montserrat';
	src: url(../../fonts/Montserrat-Light.ttf);
}

.inform-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
	text-align: center;
	margin: 10px;
}

.inspirational-quote {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 2.7em;
}

.head-join{
	font-family: 'Raleway', sans-serif;
	font-size: 2.7em;
	text-align: center;
	font-weight: 300;
	transition: all 1s ease-in-out;
}


.hello-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	a {margin: 10px;}
}

.book-button {
	width: 200px;
	height: 50px;
	color:blue;
	background-color: #f1f1f1;
	// background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
	background: #eeebf0;
	border-radius: 50px;
	border: none;
}

.btn-primary {
	background-color: #56acb8;
}
.btn-danger {
	background-color: #634372;
}
.book-button:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	// background-color: #663dff;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	7px 7px 20px 0px rgba(0,0,0,.1),
	4px 4px 5px 0px rgba(0,0,0,.1);
	border-radius: 50px;
	transition: all 0.3s ease;
  }
  .book-button:hover {
	-webkit-box-shadow: -2px 5px 25px -5px rgba(0,0,0,0.89); 
	box-shadow: -2px 5px 25px -5px rgba(0,0,0,0.89);
  }
  .book-button:hover:after {
	left: 0;
	width: 100%;
  }
  .book-button:active {
	top: 2px;
  }
  



.second-screen-portf {
	margin: auto;
	width: 80vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}


.slider1 {
	width: 70vw; 
	margin: auto;
}

#carouselExampleCaptions1 {
	height: 100%;
	background-color: white;
	z-index: 10;
	.d-block{
		width: 100%;
		margin: auto;
	}
}



@media screen and (max-width: 850px) {
	.slider1 { width: 80vw; }
}

.mid-screen {
	margin: auto;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.mid-scr-col {
	width: 30vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.portf-img img, .mid-scr-col .card {
	width: 25vw;
}

@media screen and (max-width: 500px) {
	.mid-screen  {
		.card-body {padding: 0.30rem; }
		.text { font-size: 0.9em;}
	}
}

// .card-body {
// 	padding: 0.30rem; 
// }
.info-block {
	position: relative;
	width: 30vw;
	height: 27vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	font-size: 0.9em;
	opacity: 0.9;
}

// .first-inf { 
// 	right: 100px;
// 	background-color: #f8e6ce;
// }

// .second-inf { 
// 	left: 100px;
// 	background-color: #f1a65e; 
// }

@media screen and (max-width: 750px) {
	.mid-scr-col {flex-wrap: wrap;}
	.portf-img img {width: 80vw;}
	.info-block {width: 45vw;}
	.first-inf {top: 25px;}
	.second-inf {bottom: 25px;}
}

.third-screen {
	padding: 30px;
	width: 100%;
	height: auto;
	background-color: #f1f1f1;

}

.second-screen-inform, .third-screen {
	
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,WHITE), color-stop(50%,#f1f1f1));
	background: -webkit-linear-gradient(top, white 0%,#f1f1f1 50%);
	background:    -moz-linear-gradient(top, white 0%,#f1f1f1 50%);
	background:     -ms-linear-gradient(top, white 0%,#f1f1f1 50%);
	background:      -o-linear-gradient(top, white 0%,#f1f1f1 50%);
	background:         linear-gradient(to bottom, white 0%, #f1f1f1 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#f1f1f1',GradientType=0 );
	background-attachment: fixed;
}

@media screen and (max-width: 500px) {
	.second-screen-inform, .third-screen {background: #f1f1f1;}
}

.stories-wrap {
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.card { margin: 10px; }

.card-img-top:hover {
	background-color: white;
	opacity: 0.7;
	transition: top 0.5s ease-out 0.5s;
}

.stories-wrap, .mid-scr-col {
	a {
		color: rgb(70, 68, 68);
	}
	a:link {
		color: rgb(70, 68, 68);
	}
	a:hover {
		color: rgb(70, 68, 68);
	}
}



.fourth-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../../pictures/masha_hermann/DSC09836.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}

@media screen and (max-width: 960px) {
	.fourth-screen { 
		background-image: none;
	}
	.mid-scr-col { width: 40vw; }
	.portf-img img, .mid-scr-col .card { width: 35vw; }
	.inform-text { font-size: 1.4em;}
}
@media screen and (max-width: 540px) { 
	.inform-text { font-size: 1.2em;}
}
// footer style

.footer {
	margin: 5px;
	padding: 5px;
	height: 20vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	// background-color: rgb(247, 245, 245);
}

.social-media {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 15vh;
}
.copyr p{
	text-align: center;;
	color: grey;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	margin: 0;
}



  body {
	background: #fcfcfc;
	margin: 0;
  }
  
  .container {
	width: 900px;
	min-width: 900px;
	margin: 50px auto;
  }
  
  
  .scroll {
    color: #fff;
    margin-top: 100px;
}

#toTopBtn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9;
    padding: 21px;
    // background-color: hsla(5, 76%, 62%, .8);
}

.js .cd-top--fade-out {
    opacity: .5;
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.js .cd-top {
    // visibility: hidden;
    opacity: 1;
    transition: opacity .3s, visibility .3s, background-color .3s;
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    // background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    // background-color: hsla(5, 76%, 62%, .8);
	// background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8);
	border-radius: 50%;
}

