body,html{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
		overflow-x: hidden; 
		

header {
	width: 100vw;
	height: 200px;
	background-color: white;
}

.topnav {
	img {
      width: 200px;
	  height: 200px;
	}
}

.logo:hover{
	transform: scale(1.1, 1.1);
}

.first-screen{
	height: 100vh;
	width: 100vw;
    background-image: url(../../pictures/DSC094641.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  	background-size: cover;
}


.free-space {
	width: 100%;
	height: 100px;
}

.topnav {
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

@font-face {
	font-family: 'Raleway';
	src: url(../../fonts/Raleway-Light.ttf);
}

.topnav {
	a {
	float: left;
	display: block;
	font-family: 'Raleway', sans-serif;
	color: rgb(70, 68, 68);
	padding: auto;
	text-align: center;
	padding: 14px 16px;
	font-size: 25px;
	font-weight: 300;
	}
	a:hover {
		color: rgb(54, 52, 52);
	}
}

@media (max-width:1170px){
	.fourthconvid{
		flex-direction: column;
	}
}

@media (max-width:850px){
	.secondcontent{
		flex-direction: column;
	}
	#secondcon{
		margin: 5%;
		height: auto;
	}
}

@media screen and (max-width: 850px) {
	.topnav div:not(:first-child) {
		visibility: hidden;
		width: 1px;
	}
	.topnav a{
		padding: 0;
	}
	.topnav{
		justify-content: space-between;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.firstcontent {
		height: auto;
		margin-top: 30%
	}
	
}


.topnav .icon {
	display: none;
	// margin:auto;
}

// adjusting the header menu, transforming the header when viewed on small devices

@media screen and (max-width: 850px) {
	.topnav.responsive {
		display: block;
	}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	  visibility: visible;
	  
	}
	.topnav.responsive {
	  float: none;
	  display: block;
	  width: 100%;
	  text-align: left;
	  background-color: white;
	}
}

.second-screen {
	padding: 10px;
	width: 100vw;
    height: auto;
}

.second-screen-inform {
	width: 100%;
	height: 80vh;
	margin-right: 10px;
	display: flex;            
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #f7f4f4; 
}

}

.sec-scr-text {
	width: 40vw;
	height: auto;
	display: flex;            
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.sec-scr-pic {
	width: 40vw;
	height: auto;
	display: flex;            
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.sm-pic img{
	height: 25vh;
	margin: 10px;
}

@media screen and (max-width: 1600px) {
	.sm-pic img {
		height: 23vh;
	}
}

@font-face {
	font-family: 'Montserrat';
	src: url(../../fonts/Montserrat-Light.ttf);
}

.inform-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
	text-align: center;
}

.head-join{
	font-family: 'Raleway', sans-serif;
	font-size: 2.7em;
	text-align: center;
	font-weight: 300;
	transition: all 1s ease-in-out;
}

.btn-outline-secondary {
	width: 200px;
}

#block-portf-img {
	position: absolute;
	height: 40vh;

}

.second-screen-portf {
	margin: auto;
	width: 80vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}


.slider1 {
	width: 60vw; 
}


@media screen and (max-width: 850px) {
	.slider1 {
		width: 80vw; 
	}
}

.mid-screen {
	margin: auto;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.mid-scr-col {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.portf-img img {
	margin: 20px;
	width: 50vw;
}

.info-block {
	position: relative;
	width: 30vw;
	height: 27vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	font-size: 0.9em;
	opacity: 0.9;
}

.first-inf { 
	right: 100px;
	background-color: #f8e6ce;
}

.second-inf { 
	left: 100px;
	background-color: #f8d8ce; 
}

@media screen and (max-width: 750px) {
	.mid-scr-col {flex-wrap: wrap;}
	.portf-img img {width: 80vw;}
	.info-block {width: 45vw;}
	.first-inf {}
}

.third-screen {
	padding: 30px;
	width: 100%;
	height: auto;
	background-color: #f1f1f1;

}

.stories-wrap {
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.story {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	width: 300px;
	height: 300px;
	background-color: white;
}

.story-info {
	
	display: none;
}

.story:hover .story-info{
	background-color: pink;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	opacity: 0.7;
	transition: top 1s ease-out 0.5s;
	a {
		text-decoration: none;
	}
}

.stories-wrap {
	a {
		color: rgb(70, 68, 68);
	}
	a:hover {
		color: rgb(70, 68, 68);
	}
}



.fourth-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



// footer style

.footer {
	margin: 5px;
	padding: 5px;
	height: 20vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	// background-color: rgb(247, 245, 245);
}

.social-media {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 15vh;
}
.copyr p{
	text-align: center;;
	color: grey;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	margin: 0;
}






// second carousel

%animation-default {
	opacity: 1 !important;
	z-index: 3;
  }
  
  @mixin carousel($items, $animation: 'default') {
	.carousel {
	  width: 100%;
	  position: relative;
	  overflow: hidden;
  
	  > input[type="radio"] {
		position: absolute;
		left: 0;
		opacity: 0;
		top: 0;
  
		&:checked {
		  ~ .carousel__items .carousel__item,
		  ~ .carousel__prev > label,
		  ~ .carousel__next > label {
			opacity: 0;
		  }
		}
  
		@for $i from 1 through $items {
		  &:nth-child(#{$i}) {
			&:checked {
			  ~ .carousel__items .carousel__item {
				@if $animation == 'default' {
				  &:nth-child(#{$i}) {
					opacity: 1;
				  }
				}
			  }
  
			  ~ .carousel__prev {
				> label {
				  @if $i == 1 {
					&:nth-child(#{$items}) {
					  @extend %animation-default;
					}
				  } @else if $i == $items {
					&:nth-child(#{$items - 1}) {
					  @extend %animation-default;
					}
				  } @else {
					&:nth-child(#{$i - 1}) {
					  @extend %animation-default;
					}
				  }
				}
			  }
  
			  ~ .carousel__next {
				> label {
				  @if $i == $items {
					&:nth-child(1) {
					  @extend %animation-default;
					}
				  } @else {
					&:nth-child(#{$i + 1}) {
					  @extend %animation-default;
					}
				  }
				}
			  }
  
			  ~ .carousel__nav {
				> label {
				  &:nth-child(#{$i}) {
					background: rgb(255, 255, 255);
					border: white;
					cursor: default;
					pointer-events: none;
				  }
				}
			  }
			}
		  }
		}
	  }
  
	  &__items {
		margin: 0;
		padding: 0;
		list-style-type: none;
		width: 100%;
		height: 600px;
		position: relative;
	  }
  
	  &__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		transition: opacity 2s;
		-webkit-transition: opacity 2s;
  
		img {
		  width: 100%;
		  vertical-align: middle;
		}
	  }
  
	  &__prev,
	  &__next {
		> label {
		//   border: 1px solid #fff;
		  border-radius: 50%;
		  cursor: pointer;
		  display: block;
		  width: 40px;
		  height: 40px;
		  position: absolute;
		  top: 50%;
		  transform: translateY(-50%);
		  -webkit-transform: translateY(-50%);
		  transition: all .3s ease;
		  -webkit-transition: all .3s ease;
		  opacity: 0;
		  z-index: 2;
  
		  &:hover,
		  &:focus {
			opacity: .5 !important;
		  }
  
		  &:before,
		  &:after {
			content: "";
			position: absolute;
			width: inherit;
			height: inherit;
		  }
  
		  &:before {
			background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),
						linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
			width: 60%;
			height: 60%;
			top: 20%;
		  }
		}
	  }
  
	  &__prev {
		> label {
		  left: 2%;
  
		  &:before {
			left: 35%;
			top: 20%;
			transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
		  }
		}
	  }
  
	  &__next {
		> label {
		  right: 2%;
  
		  &:before {
			left: 10%;
			transform: rotate(315deg);
			-webkit-transform: rotate(315deg);
		  }
		}
	  }
  
	  &__nav {
		position: absolute;
		bottom: 3%;
		left: 0;
		text-align: center;
		width: 100%;
		z-index: 3;
  
		> label {
		  border: 1px solid #C2BCBA;
		  display: inline-block;
		  border-radius: 20%;
		  cursor: pointer;
		  margin: 0 .125%;
		  width: 30px;
		  height: 3px;
		  background-color: #C2BCBA;
		}
	  }
	}
  }
  
  *,
  *:before,
  *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  }
  
  body {
	background: #fcfcfc;
	margin: 0;
  }
  
  .container {
	width: 900px;
	min-width: 900px;
	margin: 50px auto;
  }
  
  @include carousel(5);
  
  