.preloader {
	/*фиксированное позиционирование*/
	position: fixed;
	/* координаты положения */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	/* фоновый цвет элемента */
	background: #e0e0e0;
	/* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
	z-index: 1001;
  }
  .preloader__row {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .preloader__item {
	position: absolute;
	display: inline-block;
    border: none;
	animation: pulse 2s infinite ease-in-out;
  }
.preloader__item img {
	width: 300px;
	
}
 
  @keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
  
  .loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
  }
  
  .loaded .preloader {
	display: none;
  }